# General setup

## Do not use any colorized output
## Docs: https://bazel.build/reference/command-line-reference#flag--color
run --color=no
build --color=no
test --color=no

## Bzlmod will only make it more difficult to explain the basics
## Therefore it needs to take a nap
## Docs: https://bazel.build/reference/command-line-reference#flag--enable_bzlmod
common --noenable_bzlmod

## Do not allow any network actions in the sandbox
## Docs: https://bazel.build/reference/command-line-reference#flag--sandbox_default_allow_network
build --nosandbox_default_allow_network

## Do not 'inherit' client $PATH, $LD_LIBRARY_PATH in the build env
## Docs: https://bazel.build/reference/command-line-reference#flag--incompatible_strict_action_env
build --incompatible_strict_action_env

## Be extremely strict about used shell executable
## (By default it is embedded - not great for cross-compatibility)
## Docs: https://bazel.build/reference/command-line-reference#flag--shell_executable
build --shell_executable=/bin/sh

## Allow cpp toolchain resolution
## Docs:
build --incompatible_enable_cc_toolchain_resolution

# Forbid local machine as executor

## Force CPP_TOOLCHAIN local resolution to give up
build --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1

## Do not attempt to register local host as a platform
build --noincompatible_auto_configure_host_platform

## Really, no fallbacks, local does not exists for you
build --target_platform_fallback=@bazel-toolchains-explained//:DEV_NULL_PLATFORM
build --host_platform=@bazel-toolchains-explained//:DEV_NULL_PLATFORM
